#visual-portal-wrapper { width: 960px; margin: 0 auto; }

/*
a:link, a:visited, #content a:link, #content a:visited, dl.portlet a:link, dl.portlet a:visited {
color: red;
}
*/

#banner {
  clear: both;
  overflow: hidden;
}

#portal-globalnav, #portal-globalnav li a {
  color: #fff;
  background-color: #7A663B;
  border-right: none;
}
#portal-globalnav .selected a,
#portal-globalnav .selected a:hover,
#portal-globalnav a:hover {
  background-color: #834B2D;
  color: #fff !important;
}

#portal-globalnav li a {
  padding: 0.5em 0.5em;
  text-align: center;
}

}
table.citem {
    background-color: #fff;
}
table.active {
    background-color: #fff;
    box-shadow: 0 0 10px #834B2D;
}
.items a div {
    float: left;
    text-align: center;
    padding-right: 4px;
}
.citem img {
    vertical-align: middle;
}
.citem a:first-child {
  margin-right: 4px;
}
.cblock {
    width: 900px;
    text-align: center;
}


a.browse {
    height: 152px;
    width: 24px;
    display: block;
    float: left;
    cursor: pointer;
}
a.browse.left {
    background: url(nav-left.png) no-repeat 0 50%;
    float: left;
}
a.browse.right {
    background: url(nav-right.png) no-repeat 0 50%;
    float: right;
}
a.browse.disabled {
    background: none;
    cursor: default;
}

/* items inside navigator */
.navi a {
    width:8px;
    height:8px;
    float:left;
    margin:3px;
    background:url(navigator.png) 0 0 no-repeat;
    display:block;
    font-size:1px;
}

/* mouseover state */
.navi a:hover {
    background-position:0 -8px;
}

/* active state (current page state) */
.navi a.active {
    background-position:0 -16px;
}

/*
root element for the scrollable.  when scrolling occurs this
element stays still.
*/
.scrollable {
  /* required settings */
  position:relative;
  overflow:hidden;
  width: 900px;
  height: 152px;
  background-color: #fff;
  float: left;
}

/*
root element for scrollable items. Must be absolutely positioned
and it should have a extremely large width to accommodate scrollable
items.  it's enough that you set width and height for the root element
and not for this element.
*/
.scrollable .items {
  /* this cannot be too large */
  width:20000em;
  position:absolute;
}

/*
a single item. must be floated in horizontal scrolling.  typically,
this element is the one that *you* will style the most.
*/
.items .cblock {
  float:left;
  width: 900px;
  text-align: center;
  padding: 6px 0;
}
table.citem {
  display: inline-block;
  padding: 6px;
  margin: 0 24px 0 0;
}
table.citem:last-child {
  margin: 0;
}
.items .citem tr {
  vertical-align: middle;
}
table.citem td {
    height: 128px;
}

.navi-wrapper {
    width: 900px;
    margin: 0 24px;
    text-align: center;
    background-color: #fff;
    padding-bottom: 4px;
}
.navi {
    width: auto;
    margin: 0 auto;
    display: inline-block;
}

#image_wrap {
    /* dimensions */
    display: block;
    width: 900px;
    min-height: 440px;
    float: left;
    padding: 15px 0;
    text-align:center;
    background-color: #fff;
}
.navimage {
    display: block;
    height: 420px;
    width: 24px;
    float: left;
    padding: 0;
    margin: 0;
}
.navimage.right {
    float: right;
}
.nextimage, .previmage {
    height: 420px;
    width: 24px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
.previmage {
    background: url(nav-left.png) no-repeat 0 25%;
}
.nextimage {
    background: url(nav-right.png) no-repeat 0 25%;
}

#image_wrap td {
  padding-top: 12px;
}

.archive_list {
    font-size: 150%;
}
.archive_list ul {
    display: none;
    cursor: pointer;
}
.archive_list ul.depth0 {
    display: block;
}
.archive_list ul li {
    list-style-type: none;
}
.archive_list ul li.aparent:before {
    content: " \25bc ";
    padding: 0 0.5em 0 0;
}
.archive_list ul li.aparent.hidden:before {
    content: " \25b6 ";
    padding: 0 0.5em 0 0;
}

#content table.preview-image-wrapper {
    border-collapse: separate;
    width: 100%
}
.preview-image-wrapper th {
    height: 400px;
    vertical-align: top;
    text-align: center;
}
.preview-image-wrapper th img {
    margin-bottom: 0.5em;
}
.preview-image-wrapper td {
    text-align: center;
    max-width: 400px;
}
.bdiv {
    margin: 0 auto;
}
.bdiv h1 {
    display: none;
}

#scrollable_wrapper {
    border: 1px solid #834b2d;
    width: 100%;
}

#preview_wrapper {
    border: 1px solid #834b2d;
    width: 100%;
    height: 550px;
}

.pb-ajax .artwork_view h1 {
    margin-bottom: 0.5em;
    border-bottom: 1px solid #834b2d;
}
.pb-ajax .artwork_view img {
    padding: 0 1em 1em 0;
}
.artwork_view dt {
    font-size: 125%;
}
.artwork_view dd {
    text-align: justify;
}
.artwork_view dl {
    margin-bottom: 1em;
}
.artwork_view a img {
    cursor: zoom-in;
}
div.narrow img {
    float: left;
}
div.narrow div.detail {
    float: left;
    padding-left: 1em;
}

div.detail dl dt {
    margin-top: 0.5em;
}
div.detail dl dd {
    text-align: justify;
}

#content div.bdiv h1 {
    margin-top: 0;
}

.detail a {
    border-bottom: 1px solid #7a663b;
}

div.listingBar a {
    color: #7A663B;
    border-color: #7a663b;
}
div.listingBar a:hover {
    color: white !important;
    background-color: #834B2D;
    border-color: #7a663b;
}


#LSResult {
    margin: -0.5em 0 0 -7em;
    position: absolute;
    right: 0;
    z-index: 10;
}

.overlay,
#content .documentDescription, #content #description,
h1, h2, h3, h4, h5, h6,
#content, #portal-breadcrumbs {
    color: #834B2D;
}
h1.documentFirstHeading, h1, h2 {
    border-bottom: 1px solid #7A663B;
    margin-bottom: 0.5em;
}
#content dd, .pb-ajax dd {
    color: #000 !important;
}
#portal-footer-wrapper a:link, #portal-footer-wrapper a:visited,
#content a:link, #content a:visited, dl.portlet a:link, dl.portlet a:visited,
#portal-breadcrumbs a:link, #portal-breadcrumbs a:visited {
    color: #834B2D;
    border-bottom: 1px solid #834B2D;
}
body.section-references h3 a:link, body.section-references h4 a:link,
body.section-references h3 a:visited, body.section-references h4 a:visited {
    color: #834B2D;
    border-bottom: 1px solid #834B2D !important;
}

#content h1 a:link, #content h2 a:link,
#content h1 a:visited, #content h2 a:visited {
    border-bottom: none !important;
}
.breadcrumbSeparator {
    color: #834B2D;
}
#portal-siteactions a:hover,
#portal-footer-wrapper a:hover,
#content a:hover, dl.portlet a:hover {
    color: #7a663b !important;
    border-bottom: 1px solid #7a663b !important;
}
#content a.link-overlay {
    border-bottom: 1px solid #834B2D !important;
}

#portal-siteactions a:link, #portal-siteactions a:visited, #portal-siteactions a:hover,
#content dd a:link, #content dd a:visited, #content dd a:hover,
.pb-ajax dd a:link, .pb-ajax dd a:visited, .pb-ajax dd a:hover {
    color: #000 !important;
    border-color: #000 !important;
}

div#scrollable_wrapper a, div#scrollable_wrapper a:hover {
    border: none !important;
}

div.portlet-static-footer,
div#portal-footer {
    background-color: #7A663B;
    border: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

fieldset#artworks-search-field {
    border: medium none !important;
    text-align: center;
}

#artworks-search-field label,
#artworks-search-field select {
    font-size: 200% !important;
}
#artworks-search-field label {
    padding-right: 1em;
}
#artworks-search-field select {
    width: 16em;
    margin-bottom: 0.5em;
}

/*
#content table.invisible a {
    border: none !important;
}
*/

#portal-siteactions {
    font-size: 70%;
    margin-top: 1.5em;
    text-align: right;
}
#portal-siteactions a:link, #portal-siteactions a:visited, #portal-siteactions a:hover {
    color: #666 !important;
}

body.template-folder_listing.section-galleries span.documentByLine,
body.template-folder_listing.section-galleries span.summary img {
    display: none;
}
body.template-folder_listing.section-galleries span.summary {
    font-size: 150%;
}
body.template-folder_listing.section-galleries span.summary a {
    color: #834B2D !important;
    font-weight: normal;
}
body.template-folder_listing.section-galleries #content-core dt {
    line-height: 400%;
}
body.template-folder_listing.section-galleries #content-core dt span.summary:before {
    content: " \2756 ";
}

body.template-artwork_view div.documentDescription {
    display: none;
}
